{include file="public/header" /} 
 <div class="weui-weixin">
<div class="weui-weixin-ui">
  <!--页面开始-->
    <div class="weui-weixin-page">
   <h2 class="weui-weixin-title">{$data.title}</h2>
   <div class="weui-weixin-info"><!--meta-->
                     <span class="weui-weixin-em">最新消息</span>
                      <em class="weui-weixin-em" >{$data.ctime}</em>
                      <em class="weui-weixin-em">悠币</em>
                       <a class="weui-weixin-a weui-weixin-nickname" href="javascript:void(0);" >{$data.admin}</a>
                    </div><!--meta结束-->
                    
    <div class="weui-weixin-img"><!--图片开始-->
    <img src="">
    </div><!--图片结束-->
                                        
<div class="weui-weixin-content"><!--内容-->
              {$data.content}
</div><!--内容结束-->

<div class="weui-weixin-tools"><!--工具条-->
  <div class="weui-weixin-read">阅读<span id="readnum">{$data.browse}</span>  <span class="weui-weixin-read"></div>

</div>

{include file="public/footer" /} 