<div class="weui-footer">
            <p class="weui-footer-links">
                <a href="javascript:void(0);" class="weui-footer-link">底部链接</a>
                <a href="javascript:void(0);" class="weui-footer-link">底部链接</a>
            </p>
            <p class="weui-footer-text">Copyright &copy; 2008-2016 移植</p>
        </div>
<br>
<br>
<div class="weui-footer weui-footer-fixed-bottom">
    <p class="weui-footer-links">
        <a href="javascript:;" class="weui-footer-link">WeUI首页</a>
    </p>
    <p class="weui-footer__text">Copyright &copy; 2008-2016 Yoby移植</p>
</div>
    <section class="weui-menu">
        <div class="weui-menu-inner">
            <em></em>
            <span>首页</span>
        </div>
        <div class="weui-menu-inner">
            <em></em>
            <span>商城</span>
            <ul>
                <em></em>
                <li>营销</li>
                <li>VIP</li>
                <li>语音</li><li>陌陌陌陌陌陌</li><li>陌陌陌陌陌陌</li><li>陌陌陌陌陌陌</li><li>陌陌陌陌陌陌</li>
            </ul>
        </div>
        <div class="weui-menu-inner">
            <em></em>
            <span>我的</span>
            <ul>
                <em></em>
                <li>我的订单</li>
                <li>升级VIP</li>
                <li>百度智能</li>
            </ul>
        </div>
    </section>
</body>
</html>

