    {include file="public/header" /} 
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]--> <!--
    <style type="text/css">
.page-tabs-content{
    background-color: #4688c3;
}
.page-tabs a.active{
     background-color: #4688c3;
     color: #ffffff;
}
.page-tabs a{
      color: #ffffff;   
}
nav.page-tabs{

       background-color: #4e97d9;
}
-->
    </style>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><h3 style="color:#ffffff">  信息管理平台V3.1</h3></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"></span>
                                <span class="text-muted text-xs block">{$admin.name}</span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">菜单
                        </div>
                    </li>
                    {volist name="menu" id="vo"}
                    <li>
                        <a href="#">
                            <i class="fa {$vo.info.fa|default='fa-envelope'}"></i>
                            <span class="nav-label">{$vo.info.name}</span>
                            <span class="fa arrow"></span>
                        </a>
                        {notempty name="vo.child"}
                        <ul class="nav nav-second-level">
                          {volist name="vo.child" id="vo2"}
                            <li>
                                <a class="J_menuItem" href="{$vo2.address}" data-index="0">{$vo2.name}</a>
                            </li>
                            {/volist}
                        </ul>
                        {/notempty}
                    </li>
                    {/volist}
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row content-tabs">

                <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                  <a href="javascript:;" class="navbar-minimalize "  href="#"><li class="fa fa-arrows-alt"></li></a>
        
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="/index.php/admin/mould/view_update?mould_id=33&id=1">首页</a>
                    </div>
                  
                      
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">

            
                    <button class "dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>

                <a href="/index.php/admin/admin/quit" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/index.php/admin/mould/view_update?mould_id=31&id=1" frameborder="0" data-id="index_v1.html" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">&copy; 2014-2015 <a href="http://www.zi-han.net/" target="_blank">zihan's blog</a>
                </div>
            </div>
        </div>

        <!--右侧部分结束-->
        <!--右侧边栏开始-->
        
        <!--右侧边栏结束-->
    </div>
    <script src="/static/H+ v4.1/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/H+ v4.1/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/H+ v4.1/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/H+ v4.1/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/static/H+ v4.1/js/plugins/layer/layer.min.js"></script>
    <script src="/static/H+ v4.1/js/hplus.min.js?v=4.1.0"></script>
    <script type="text/javascript" src="/static/H+ v4.1/js/contabs.min.js"></script>
    <script src="/static/H+ v4.1/js/plugins/pace/pace.min.js"></script>
</body>
<!-- Mirrored from www.zi-han.net/theme/hplus/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:17:11 GMT -->
</html>
