    {include file="public/header" /} 
    <link href="/static/H+ v4.1/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
        <script>
            Date.prototype.Format = function (fmt) { //author: meizz 
                var o = {
                    "M+": this.getMonth() + 1, //月份 
                    "d+": this.getDate(), //日 
                    "h+": this.getHours(), //小时 
                    "m+": this.getMinutes(), //分 
                    "s+": this.getSeconds(), //秒 
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                    "S": this.getMilliseconds() //毫秒 
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            }
         //时间控件
          $(document).ready(function() {
            $(".input-group.date").datepicker({
                todayBtn: "linked",
                keyboardNavigation: !1,
                forceParse: !1,
                   dateFormat: 'mm/yy',
                defaultDate: '-1M',
                calendarWeeks: !0,
                autoclose: !0
            });
             $(".input-group.date input").val(new Date().Format("yyyy-MM-dd"));
         });
        </script>
</head>
<body class="gray-bg">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{$data.info.name}管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class=" form-inline"> <form method="post" action="">
                        {notempty name="data.info.add"}
                            <div class="form-group">
                                <a   class="btn btn-outline btn-default "  href="/index.php/admin/mould/view_put?mould_id={$data.info.id}">新增</a>
                            </div>
                        {/notempty}
                          {volist name="data.info.sreach" id="vo"}
                            {switch name="$fileds[$key]['type']"}
                            {case value="1"} <div class="form-group"><input type="text"  name="{$fileds[$key]['filed']}" placeholder=" 请输入{$fileds[$key]['title']}"  value="{$post[$fileds[$key]['filed']]|default=''}" class="form-control"> </div> {/case}
                            {case value="4"}   <div class="form-group">
                                            <div class="col-sm-10">
                                                    <select class="form-control m-b"  name="{$fileds[$key]['filed']}">
                                                     <option value="0">不限</option>
                                                     {volist  name="$fileds[$key]['type']['value']" id="select_val"}
                                                        <option value="{$select_val}">{$select_val}</option>
                                                     {/volist}
                                                    </select>
                                            </div></div>
                            {/case} 
                            {case value="11"}  {$fileds[$key]['title']}
                               <div class="form-group">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="form-control" name="{$fileds[$key]['filed']}_min"  value="" >
                                    </div>
                                </div> 
                               <div class="form-group">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="form-control" name="{$fileds[$key]['filed']}_max"   value="" >
                                    </div>
                                </div>                       
                            {/case}       
                            {/switch}
                        
                            {/volist}    
                            <div class="form-group">
                                <button class="btn btn-white" type="submit">查询</button>
                            </div>
                              </form>
                        </div>
                        <div class="example">
                            <table data-toggle="table"  >
                                <thead>
                                    <tr>
                                        <th >ID</th>
                                         {volist name="data.title" id="vo"}
                                          <th >{$vo.title}</th>
                                         {/volist}
                                        <th class="col-sm-2">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {notempty name="data.list"}
                                        {volist name="data.list" id="vo"}
                                        <tr>
                                        <td >{$vo.id}</td>
                                         {volist name="data.title" id="vo1"}
                                          <td >
                                                {switch name="$data['title'][$vo1.filed]['type']"}
                                                        {case value="2"}<span style="float:right;">{$vo[$vo1.filed]}</span>{/case}
                                                        {case value="3"}<span style="float:right;">{$vo[$vo1.filed]}</span>{/case}
                                                         {case value="4"}<a onclick="status_change(this,{$vo.id},{$data['title'][$vo1.filed]['id']},'发货中');"  href="javascript:void(0);"  class="btn btn-white btn-bitbucket btn-xs "><i class="fa " >   {$vo[$vo1.filed]} </i></a>{/case}
                                                        {case value="6"}<?php  echo mb_substr(strip_tags($vo[$vo1['filed']]),1,30);  ?>{/case}
                                                        {case value="7"}<?php  echo mb_substr(strip_tags($vo[$vo1['filed']]),1,30);  ?>{/case}
                                                        {case value="11"}{$vo[$vo1.filed]|date="Y-m-d ",###}{/case}
                                                        {case value="12"}{$vo[$vo1.filed]|date="Y-m-d h : m",###}{/case}
                                                        {case value="13"}<img src="/static/js/{$vo[$vo1.filed]} " height="80" width="80">{/case}
                                                         {default /}
                                                         <!--默认的有链接-->
                                                        {empty name="$data['info']['list'][$vo1.id]['link']"}
                                                            {$vo[$vo1.filed]} 
                                                        {else /}
                                                            <a href="{$data['info']['list'][$vo1.id]['link']}&id={$vo.id}&retrun={$host}">  {$vo[$vo1.filed]}</a>  
                                                        {/empty}
                                                {/switch}
                                          </td>
                                         {/volist}
                                        <td >
                                            {notempty name="data.info.edit"}
                                            <a  class="btn btn-outline btn-default btn-xs "  href="/index.php/admin/mould/view_update?mould_id={$data.info.id}&id={$vo.id}">管理</a>
                                             {/notempty}
                                            <button type="button" onclick="del('/index.php/admin/mould/view_del?mould_id={$data.info.id}&id={$vo.id}');"  class="btn btn-outline btn-default btn-xs ">删除</button> 
                                        </td>
                                    </tr>
                                    {/volist}
                                    {/notempty}
                                </tbody>
                            </table>
                              {$page}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Basic -->
    {include file="public/footer" /} 
    <script src="/static/H+ v4.1/js/content.min.js?v=1.0.0"></script>
    <script src="/static/H+ v4.1/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/static/H+ v4.1/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="/static/H+ v4.1/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
     <script src="/static/H+ v4.1/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function() {
            var search= window.location.search;
            var param='';
            search=search.replace("?","");
            search=search.split("&");
            for (i=0;i<search.length ;i++ ){ 
                    var first=search[i];
                    first=  first.split("=");
                     if(first[0]!='page' && first[0]!='' ){
                       search[i]=search[i].replace("&","");
                       param=param+'&'+search[i];
                     } 
            }
  
            $('.pagination  a').each(function(index, el) {
                $(this).attr('href',$(this).attr('href')+param);
            });
        });
    </script>
</body>
<!-- Mirrored from www.zi-han.net/theme/hplus/table_bootstrap.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:06 GMT -->
</html>
