    {include file="public/header" /} 
<link rel="stylesheet" href="/static/js/plugins/editor/themes/default/default.css" />
<script src="/static/js/plugins/editor/kindeditor-all.js"></script>
<script src="/static/js/plugins/editor/lang/zh_CN.js"></script>
<link href="/static/H+ v4.1/css/plugins/iCheck/custom.css" rel="stylesheet">
        <script>
            Date.prototype.Format = function (fmt) { //author: meizz 
                var o = {
                    "M+": this.getMonth() + 1, //月份 
                    "d+": this.getDate(), //日 
                    "h+": this.getHours(), //小时 
                    "m+": this.getMinutes(), //分 
                    "s+": this.getSeconds(), //秒 
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                    "S": this.getMilliseconds() //毫秒 
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            }
            KindEditor.ready(function(K) {
                /**图片*******/
                var editor_img = K.editor({
                    allowFileManager : true
                });
                /**富文本**/
                var editor_text;
                editor_text = K.create('textarea[class="content"]', {
                    allowFileManager : true,
                    afterBlur: function(){  //利用该方法处理当富文本编辑框失焦之后，立即同步数据
                           this.sync();
                    }
                });

                K('.editor_image').click(function() {
                    var pp=$(this);
                    editor_img.loadPlugin('image', function() {
                        editor_img.plugin.imageDialog({
                            showRemote : false,
                            imageUrl : pp.prev().val(),
                            clickFn : function(url, title, width, height, border, align) {
                                editor_img.hideDialog();
                                   pp.prev().val(url);
                            }
                        },pp);
                    },pp);
                });
            });
         //时间控件
          $(document).ready(function() {
            $(".input-group.date").datepicker({
                todayBtn: "linked",
                keyboardNavigation: !1,
                forceParse: !1,
                   dateFormat: 'mm/yy',
                defaultDate: '-1M',
                calendarWeeks: !0,
                autoclose: !0
            });
             //$(".input-group.date input").val(new Date().Format("yyyy-MM-dd"));
         });
        </script>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{$data.info.name}管理 <small>编辑</small></h5>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal" action="/index.php/admin/mould/view_update?mould_id={$data.info.id}">
                        {volist  name='data.info.edit' id="vo"}
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"  >{$data['fileds'][$key]['title']}</label>
                            {switch name="$data['fileds'][$key]['type']" }
                                {case value="1"}
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="{$data['fileds'][$key]['filed']}"  value="{$data['fileds'][$key]['filed_value']}">
                                            </div>
                                {/case}
                                 {case value="2"}
                                            <div class="col-sm-10">
                                                    <select class="form-control m-b" name="{$data['fileds'][$key]['filed']}">
                                                     {volist  name="$data['fileds'][$key]['value']" id="select_val"}
                                                        <option value="{$select_val}">{$select_val}</option>
                                                     {/volist}
                                                    </select>
                                            </div>
                                 {/case}
                                 {case value="3"}
                                            <div class="col-sm-10">
                                                  
                                                     {volist  name="$data['fileds'][$key]['value']" id="select_val"}
                                                       <label class="checkbox-inline">
                                                        <input type="checkbox" value="{$select_val}" >{$select_val}</label>
                                                     {/volist}
                                                 
                                            </div>
                                 {/case}
                                 {case value="4"}
                                            <div class="col-sm-10">
                                                <textarea   class="form-control m-b" name="{$data['fileds'][$key]['filed']}"  >{$data['fileds'][$key]['filed_value']}</textarea >
                                            </div>
                                 {/case}
                                 {case value="5"}
                                            <div class="col-sm-10">
                                                <textarea   class="content" name="{$data['fileds'][$key]['filed']}" style="width:800px;height:400px;visibility:hidden;">{$data['fileds'][$key]['filed_value']}</textarea >
                                            </div>
                                 {/case}
                                 {case value="6"}
                                    <div class="col-sm-10">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="form-control" name="{$data['fileds'][$key]['filed']}"value="{$data['fileds'][$key]['filed_value']}" >
                                    </div>
                                    </div>
                                 {/case}
                                 {case value="7"}
                                            <div class="col-sm-10"><img src="/static/js/{$data['fileds'][$key]['filed_value']}" /><br>
                                                    <input type="text"  id="url3" name="{$data['fileds'][$key]['filed']}" /> <input type="button" class="editor_image" value="选择图片" />
                                            </div>
                                 {/case}
                                 {default /}
                            {/switch}
                                        </div>
                            {/volist}
                        <!---->
                            <div class="hr-line-dashed"></div>
                        <!---->
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <input type="hidden" name='mould_tab_id' value="{$tab_info.id}">
                                    <input class="btn btn-primary" type="button"  id="submit"  value="保存">
                                    <a  class="btn btn-white"  href="/index.php/admin/mould/view_columns?mould_id={$data.info.id}">取消</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="public/footer" /} 
    <script src="/static/H+ v4.1/js/content.min.js?v=1.0.0"></script>
    <script src="/static/H+ v4.1/js/plugins/iCheck/icheck.min.js"></script>
     <script src="/static/H+ v4.1/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    </script>
</body>
<!-- Mirrored from www.zi-han.net/theme/hplus/form_basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:15 GMT -->
</html>
