<div class="weui-footer">
            <p class="weui-footer-links">
                <a href="javascript:void(0);" class="weui-footer-link">底部链接</a>
                <a href="javascript:void(0);" class="weui-footer-link">底部链接</a>
            </p>
            <p class="weui-footer-text">Copyright &copy; 2008-2016 移植</p>
        </div>
<br>
<br>
<div class="weui-footer weui-footer-fixed-bottom">
    <p class="weui-footer-links">
        <a href="javascript:;" class="weui-footer-link">WeUI首页</a>
    </p>
    <p class="weui-footer__text">Copyright &copy; 2008-2016 Yoby移植</p>
</div>
<style>

 .icon{
  font-size: 18px;
  line-height: 30px;
  margin: 2px 0;
  color:#18b4ed;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;

}

</style>
    <section class="weui-menu">
        <div class="weui-menu-inner">
         <span class="icon icon-27" ></span>
            <span  ><a href="/index.php/weixin/index/main">首页</a></span>
        </div>
        <div class="weui-menu-inner">
            <span class="icon icon-78"></span>
            <span>视频</span>
            <ul>
                <em></em>
                <li>免费专区</li>
                <li>名师讲堂</li>
                <li>家长课堂</li>
                <li>校长课堂</li>
            </ul>
        </div>
        <div class="weui-menu-inner">
             <span class="icon icon-85"></span>
            <span>我的</span>
            <ul>
                <em></em>
                <li>升级VIP</li>
                 <li>我的资料</li>
                <li>我的订单</li>
                <li>我的积分</li>
            </ul>
        </div>
    </section>
</body>
</html>

