{include file="public/header" /} 
    <div class="weui_cells_title">绑定账户获取积分信息</div>
         <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">账户</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="tel" required pattern="[0-9]{11}" maxlength="11" placeholder="输入你账户" emptyTips="请输入账户" notMatchTips="请输入账户">
            </div>
        </div>
         <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">密码</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="tel" required pattern="[0-9]{11}" maxlength="11" placeholder="输入密码" emptyTips="请输入密码" notMatchTips="请输入正确的密码">
            </div>
        </div>
    <div class="weui_btn_area">
        <a id="formSubmitBtn" href="javascript:" class="weui_btn weui_btn_primary">绑定</a>
    </div>

{include file="public/footer" /} 