{include file="public/header" /} 
<div class="weui_search_bar">
<input class="search-input" id="search" placeholder="关键字" style="box-sizing:content-box" type="search"><button class="weui_btn weui_btn_mini weui_btn_primary"><i class="icon icon-4"></i></button>    
</div>
<div class="slide" id="slide1">
    <ul>
        <li>
            <a href="/index.php/weixin/index/article">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="http://7xr193.com1.z0.glb.clouddn.com/1.jpg" alt="">
            </a>
            <div class="slide-desc">零哥章魚 完成传奇世界H5-王者归来任务 获得30金币</div>
        </li>
        <li>
            <a href="/index.php/weixin/index/article">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="http://7xr193.com1.z0.glb.clouddn.com/2.jpg" alt="">
            </a>
            <div class="slide-desc">23333零哥章魚 完成传奇世界H5-王者归来任务 获得30金币</div>
        </li>
        <li>
            <a href="/index.php/weixin/index/group">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="http://7xr193.com1.z0.glb.clouddn.com/3.jpg" alt="">
            </a>
            <div class="slide-desc">33333零哥章魚 完成传奇世界H5-王者归来任务 获得30金币</div>
        </li>
    </ul>
    <div class="dot">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div class="page">
 <p class="page-hd-desc"><span class="icon icon-61 "></span>热门推荐</p>
<ul class="weui-mark">
                <li>
                    <div class="weui-mark-img ">
                        <img >
                    </div>
                    <span class="weui-mark-rt bg-green">免费</span>
                </li>
                <li>
                    <div class="weui-mark-img">
                        <img >
                    </div>
                    <span class="weui-mark-rt bg-blue">独播</span>
                    <span class="weui-mark-rb">11-01q</span>
                </li>
                <li>
                    <div class="weui-mark-img">
                        <img >
                    </div>
                    <span class="weui-mark-lb">更新到101集</span>
                </li>
                <li>
                    <div class="weui-mark-img">
                        <img >
                    </div>
                    <div class="weui-mark-vip"><span class="weui-mark-lt bg-red">会员免费</span></div>
                </li>                                            
            </ul>
            <p class="page-hd-desc"><span class="icon icon-61 "></span>热门推荐</p>
            <ul class="weui-mark">
                <li>
                    <div class="weui-mark-img ">
                        <img >
                    </div>
                    <span class="weui-mark-rt bg-green">免费</span>
                </li>
                <li>
                    <div class="weui-mark-img">
                        <img >
                    </div>
                    <span class="weui-mark-rt bg-blue">独播</span>
                    <span class="weui-mark-rb">11-01</span>
                </li>
                <li>
                    <div class="weui-mark-img">
                        <img >
                    </div>
                    <span class="weui-mark-lb">最新营销课程些事大幅度大幅度</span>
                </li>
                <li>
                    <div class="weui-mark-img">
                        <img >
                    </div>
                    <div class="weui-mark-vip"><span class="weui-mark-lt bg-red">会员免费</span></div>
                </li>                                            
            </ul>
</div>
{include file="public/footer" /} 